body {
	box-sizing: border-box;
	color: black;
	font-family: 'KoHo', sans-serif;
	margin: 0;
	padding: 0;
}

h3 a {
	color: black;
}

h3 a:hover {
	opacity: .8;
}

.wrapper {
	padding-bottom: 2rem;
	width: 20rem;
}

.upper-container ul li {
	width: 90px;
}

.whole {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #aeeeef;
	align-items: stretch;
	font-size: 14px;
	font-weight: bold;
	height: 78vh;
	justify-content: space-between;
}

.inputText {
	width: 290px;
	letter-spacing: 3px;
	height: 20px;
	font-size: 14px;
}

input[type="submit"] {
	width: 290px;
	letter-spacing: 3px;
	font-size: 20px;
}

select {
	width: 300px;
	font-size: 14px;
	letter-spacing: 1px;
	height: 25px;
	text-align: center;
	text-align-last: center;
}

option {
	background-color: rgb(247, 247, 247);
}

input[type="checkbox"] {
	height: 20px;
	width: 15px;
	background-color: green;
}

input[type="submit"] {
	color: white;
	background-color: black;
	cursor: pointer;
}

input[type="submit"]:hover {
	opacity: .8;
}

.box {
	width: 350px;
}

.common {
	position: relative;
	border-radius: 0.3rem;
	padding-left: 0.5rem;
	background-color: black;
	color: white;
	box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.top {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 1rem;
	background-color: #aeeeef;
}

.red {
	color: red;
}