body {
	background-color: #aeeeef;
}

.container {
	width: 100%;
	font-size: 20px;
}

.container form {
	width: 600px;
}

form input {
	font-size: 18px;
	letter-spacing: 2px;
	width: 450px;
}

table th, td {
	border: 2px solid black;
	text-align: center;
	border: 2px solid black;
}

input[type="submit"] {
	padding: 5px;
	width: 50%;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	border: none;
	border: none;
}